In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('bestsellers with categories.csv')

In [5]:
data.head(5)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
sizes = data.shape
print(f'{sizes[0]} rows, {sizes[1]} cols')

550 rows, 7 cols

In [10]:
d = data.groupby('Name')
print('Про скільки книг зберігає дані датасет? Відповідь: ', len(d))

Про скільки книг зберігає дані датасет? Відповідь:  351

In [23]:
cols = data.columns.tolist()
for i in range(len(cols)):
    cols[i] = cols[i].lower().replace(' ', '_')
data.columns = cols
data.head(3)

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

# Первинне дослідження даних

In [29]:
summ = sum(data.isna().sum().to_list())
if summ > 0:
    res = 'Так'
else:
    res = 'Ні'
print('Чи є в якихось змінних пропуски? (Так / ні). Відповідь:', res)

Чи є в якихось змінних пропуски? (Так / ні). Відповідь: Ні

In [34]:
uniq_genre = data['genre'].unique().tolist()

In [35]:
print(' Які є унікальні жанри? Відповідь: ', ', '.join(uniq_genre))

 Які є унікальні жанри? Відповідь:  Non Fiction, Fiction

In [36]:
# diagram

In [48]:
max_price, min_price, mean_price, meedian_price = data['price'].agg(['max', 'min', 'mean', 'median'])

In [49]:
print('Максимальна ціна? Вдповідь: ', max_price)

Максимальна ціна? Вдповідь:  105.0

In [50]:
print('Мінімальна ціна? Вдповідь: ', min_price)

Мінімальна ціна? Вдповідь:  0.0

In [51]:
print('Середня ціна? Вдповідь: ', mean_price)

Середня ціна? Вдповідь:  13.1

In [52]:
print('Медіанна ціна? Вдповідь: ', meedian_price)

Медіанна ціна? Вдповідь:  11.0

# Пошук та сортування даних

In [55]:
max_rate = data['user_rating'].agg('max')
print('Який рейтинг у датасеті найвищий? Відповідь: ', max_rate)

Який рейтинг у датасеті найвищий? Відповідь:  4.9

In [67]:
count_book = data[data['user_rating'].eq(max_rate)].groupby('name').ngroups
print('Скільки книг мають такий рейтинг? Відповідь: ', count_book)

Скільки книг мають такий рейтинг? Відповідь:  28

In [81]:
book = data[data['reviews'].eq(data['reviews'].agg('max'))]
print(' Яка книга має найбільше відгуків? Відповідь: "', book.name.values[0], '"')
book.head()

 Яка книга має найбільше відгуків? Відповідь: " Where the Crawdads Sing "

,name,author,user_rating,reviews,price,year,genre
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction

In [102]:
new_data = data.query('year==2015').sort_values('user_rating', ascending=False).head(50)
expensive = new_data[new_data['price'].eq(new_data['price'].agg('max'))]
print(' З тих книг, що потрапили до Топ-50 у 2015 році, яка книга найдорожча (можна використати проміжний датафрейм)? Відповідь: ', expensive['name'].values[0])
expensive.head()

 З тих книг, що потрапили до Топ-50 у 2015 році, яка книга найдорожча (можна використати проміжний датафрейм)? Відповідь:  Publication Manual of the American Psychological Association, 6th Edition

,name,author,user_rating,reviews,price,year,genre
277,Publication Manual of the American Psychologic...,American Psychological Association,4.5,8580,46,2015,Non Fiction

In [106]:
new_data = data.query('year==2010 & genre=="Fiction"').sort_values('user_rating', ascending=False).head(50)
print('Скільки книг жанру Fiction потрапили до Топ-50 у 2010 році (використовуйте &)? Відповідь: ', new_data.shape[0])

Скільки книг жанру Fiction потрапили до Топ-50 у 2010 році (використовуйте &)? Відповідь:  20

In [117]:
new_data = data.query('(year==2010 | year==2011) & user_rating==4.9')
print('Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або функцію isin)? Відповідь:', new_data.shape[0])

Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або функцію isin)? Відповідь: 1

In [122]:
new_data = data.query('year==2015 & price<8').sort_values('price')
new_data.head(50)

,name,author,user_rating,reviews,price,year,genre
507,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2015,Fiction
210,Laugh-Out-Loud Jokes for Kids,Rob Elliott,4.6,6990,4,2015,Non Fiction
206,Knock-Knock Jokes for Kids,Rob Elliott,4.5,3673,4,2015,Non Fiction
111,First 100 Words,Roger Priddy,4.7,17323,4,2015,Non Fiction
123,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2015,Fiction
54,Creative Haven Creative Cats Coloring Book (Ad...,Marjorie Sarnat,4.8,4022,4,2015,Non Fiction
63,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,4.8,10922,5,2015,Fiction
89,Dover Creative Haven Art Nouveau Animal Design...,Marty Noble,4.6,2134,5,2015,Non Fiction
478,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2015,Fiction
201,Killing Reagan: The Violent Assault That Chang...,Bill O'Reilly,4.6,5235,5,2015,Non Fiction
28,Baby Touch and Feel: Animals,DK,4.6,5360,5,2015,Non Fiction
224,Love You Forever,Robert Munsch,4.8,18613,5,2015,Fiction
55,Creative Haven Owls Coloring Book (Adult Color...,Marjorie Sarnat,4.8,3871,5,2015,Non Fiction
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,4.4,2951,6,2015,Non Fiction
376,The Four Agreements: A Practical Guide to Pers...,Don Miguel Ruiz,4.7,23308,6,2015,Non Fiction
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,6,2015,Non Fiction
253,Old School (Diary of a Wimpy Kid #10),Jeff Kinney,4.8,6169,7,2015,Fiction

In [124]:
print('Яка книга остання у відсортованому списку? Відповідь: ', new_data.tail(1).name.values[0])
new_data.tail(1).head()

Яка книга остання у відсортованому списку? Відповідь:  Old School (Diary of a Wimpy Kid #10)

,name,author,user_rating,reviews,price,year,genre
253,Old School (Diary of a Wimpy Kid #10),Jeff Kinney,4.8,6169,7,2015,Fiction

# Агрегування даних та з'єднання таблиць

In [132]:
new_data = data.groupby('genre')['price'].agg(['min', 'max'])
new_data.head()

             min  max
genre
Fiction        0   82
Non Fiction    0  105

In [136]:
print('Максимальна ціна для жанру Fiction: Відповідь: ', new_data.query('genre=="Fiction"')['max'].values[0])

Максимальна ціна для жанру Fiction: Відповідь:  82

In [137]:
print('Мінімальна ціна для жанру Fiction: Відповідь: ', new_data.query('genre=="Fiction"')['min'].values[0])

Мінімальна ціна для жанру Fiction: Відповідь:  0

In [138]:
print('Максимальна ціна для жанру Non Fiction: Відповідь: ', new_data.query('genre=="Non Fiction"')['max'].values[0])

Максимальна ціна для жанру Non Fiction: Відповідь:  105

In [139]:
print('Мінімальна ціна для жанру Non Fiction: Відповідь: ', new_data.query('genre=="Non Fiction"')['min'].values[0])

Мінімальна ціна для жанру Non Fiction: Відповідь:  0

In [168]:
authors = data[['name', 'author']].groupby('author').agg(cnt=('name','count')).reset_index()

In [169]:
print('Якої розмірності вийшла таблиця? Відповідь: ', authors.shape)

Якої розмірності вийшла таблиця? Відповідь:  (248, 2)

In [170]:
author_max_book = authors.sort_values('cnt').tail(1)
print(' Який автор має найбільше книг? Відповідь: ', author_max_book.values[0][0])

 Який автор має найбільше книг? Відповідь:  Jeff Kinney

In [171]:
print('Скільки книг цього автора? Відповідь: ', author_max_book.values[0][1])

Скільки книг цього автора? Відповідь:  12

In [179]:
avg_ratings = data[['author', 'user_rating']].groupby('author').agg(avg_rating=('user_rating', 'mean')).round(1).reset_index()

In [180]:
print('У якого автора середній рейтинг мінімальний? Відповідь: ', avg_ratings.sort_values('avg_rating').head(1).values[0][0])

У якого автора середній рейтинг мінімальний? Відповідь:  Donna Tartt

In [181]:
print('Який у цього автора середній рейтинг? Відповідь: ', avg_ratings.sort_values('avg_rating').head(1).values[0][1])

Який у цього автора середній рейтинг? Відповідь:  3.9

In [192]:
new_data = pd.concat([authors, avg_ratings], axis=1)
new_data = new_data.loc[:, ~new_data.columns.duplicated()]
new_data.head()

                       author  cnt  avg_rating
0            Abraham Verghese    2         4.6
1              Adam Gasiewski    1         4.4
2               Adam Mansbach    1         4.8
3                   Adir Levy    1         4.8
4  Admiral William H. McRaven    1         4.7

In [193]:
new_data = new_data.sort_values(['cnt', 'avg_rating'])
new_data.head()

                author  cnt  avg_rating
171     Muriel Barbery    1         4.0
43        Chris Cleave    1         4.1
109  Ian K. Smith M.D.    1         4.1
186       Pierre Dukan    1         4.1
81    Elizabeth Strout    1         4.2

In [194]:
print('Який автор перший у списку? Відповідь: ', new_data.head(1).values[0][0])

Який автор перший у списку? Відповідь:  Muriel Barbery